<header class="sticky top-0 z-50 bg-white shadow-sm">
  <div class="px-6 mx-auto max-w-7xl sm:px-8 lg:px-10">
    <div class="flex items-center justify-between h-20">

      <!-- Logo + Sigle -->
      <a routerLink="/" class="flex items-center flex-shrink-0 gap-2" >
        <!-- Logo -->
        <div class="flex-shrink-0 w-16 h-16">
          <img
            [src]="ministere()?.logo ? getImageUrl(ministere()!.logo) : 'assets/images/armoirie.png'"
            [alt]="ministere()?.nomReel || 'Burkina Faso'"
            class="object-contain w-full h-full"
          />
        </div>

        <!-- Sigle du Ministère + Burkina Faso -->
       <div class="flex-col hidden max-w-xs leading-tight md:flex">
          <span class="text-xl font-bold break-words text-slate-900">
            {{ ministere()?.nomReel || 'Burkina Faso' }}
          </span>
          <span class="text-sm font-medium text-danger-500">
            Burkina Faso
          </span>
        </div>
      </a>

      <!-- Navigation Desktop -->
      <nav class="items-center hidden gap-1 ml-12 lg:flex"> <!-- ml-12 pour espacer le menu du logo -->

<a (click)="goToAccueil()"
   class="px-3 py-2 text-sm font-medium transition-colors rounded-lg cursor-pointer text-slate-600 hover:text-primary-600 hover:bg-primary-50 whitespace-nowrap">
   Accueil
</a>
        <!-- <a routerLink="/" routerLinkActive="text-primary-600" [routerLinkActiveOptions]="{exact:true}"
           class="px-3 py-2 text-sm font-medium transition-colors rounded-lg text-slate-600 hover:text-primary-600 hover:bg-primary-50 whitespace-nowrap">
          Accueil
        </a>-->

<div class="relative group">
  <!-- Bouton parent -->
  <button
    [ngClass]="{
      'text-primary-600 bg-primary-50': isMinistereActive(),
      'text-slate-600': !isMinistereActive()
    }"
    class="flex items-center gap-1 px-3 py-2 text-sm font-medium transition-colors rounded-lg hover:text-primary-600 hover:bg-primary-50 whitespace-nowrap">
    Ministère
    <svg class="w-4 h-4 transition-transform group-hover:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
    </svg>
  </button>

  <!-- Dropdown -->
  <div class="absolute left-0 invisible w-56 py-1 mt-2 transition-all duration-200 bg-white border rounded-lg shadow-md opacity-0 top-full border-slate-100 group-hover:opacity-100 group-hover:visible">
    <a routerLink="/ministere/ministre"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Le Ministre
    </a>
    <!-- <a routerLink="/ministere/missions"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Missions
    </a> -->

    <a routerLink="/ministere/historique"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Historique
    </a>

    <a routerLink="/ministere/secretariat-gl"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Sécrétariat général
    </a>

    <a routerLink="/ministere/organigramme"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Organigramme
    </a>

    <a routerLink="/ministere/Structures-centrales"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Structures centrales
    </a>


    <a routerLink="/ministere/structures"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Structures Rattachées
    </a>

    <a routerLink="/ministere/Projets-programmes"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Projets et programmes
    </a>
  </div>
</div>

       <!-- <a
        (click)="goToSection('actualites'); setActive('actualites')"
        [ngClass]="{
          'text-primary-600 bg-primary-50': activeSection === 'actualites',
          'text-slate-600': activeSection !== 'actualites'
        }"
        class="px-3 py-2 text-sm font-medium rounded-lg cursor-pointer hover:text-primary-600 hover:bg-primary-50">
        Actualités
      </a> -->

<div class="relative group information">
  <!-- Bouton parent -->
  <button
    [ngClass]="{
      'text-primary-600 bg-primary-50': isInformationsActive(),
      'text-slate-600': !isInformationsActive()
    }"
    class="flex items-center gap-1 px-3 py-2 text-sm font-medium transition-colors rounded-lg hover:text-primary-600 hover:bg-primary-50 whitespace-nowrap">
    Informations
    <svg class="w-4 h-4 transition-transform group-hover:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
    </svg>
  </button>

  <!-- Dropdown -->
  <div class="absolute left-0 invisible w-56 py-1 mt-2 transition-all duration-200 bg-white border rounded-lg shadow-md opacity-0 top-full border-slate-100 group-hover:opacity-100 group-hover:visible">
    <a (click)="goToSection('actualites'); setActive('actualites')"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Actualités
    </a>

    <a routerLink="/informations/radio-educative"
       routerLinkActive="text-primary-600 bg-primary-50"
       [routerLinkActiveOptions]="{ exact: true }"
       class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
       Radio educative
    </a>

  </div>
  </div>

        <a routerLink="/evenements" (click)="activeSection = ''"
          routerLinkActive="text-primary-600 bg-primary-50" class="px-3 py-2 text-sm font-medium transition-colors rounded-lg text-slate-600 hover:text-primary-600 hover:bg-primary-50 whitespace-nowrap">
          Calendrier
        </a>

        <div class="relative group">
          <!-- Bouton parent -->
          <button
            [ngClass]="{
              'text-primary-600 bg-primary-50': isDocumentsActive(),
              'text-slate-600': !isDocumentsActive()
            }"
            class="flex items-center gap-1 px-3 py-2 text-sm font-medium transition-colors rounded-lg hover:text-primary-600 hover:bg-primary-50 whitespace-nowrap">
            Documents
            <svg class="w-4 h-4 transition-transform group-hover:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
            </svg>
          </button>

                <!-- Dropdown -->
              <div class="absolute left-0 invisible w-56 py-1 mt-2 transition-all duration-200 bg-white border rounded-lg shadow-md opacity-0 top-full border-slate-100 group-hover:opacity-100 group-hover:visible">
                  <a routerLink="/ressources/documents"
                    routerLinkActive="text-primary-600 bg-primary-50"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
                    Documents en ligne
                  </a>
                  <a routerLink="/ressources/espace-enseignant"
                    routerLinkActive="text-primary-600 bg-primary-50"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
                    Espace Enseignants
                  </a>

                  <a routerLink="/ressources/demarche-administrative"
                    routerLinkActive="text-primary-600 bg-primary-50"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
                    Démarches Administratives
                  </a>

                  <a routerLink="/ressources/mediatheque"
                    routerLinkActive="text-primary-600 bg-primary-50"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="block px-4 py-2 text-sm transition-colors text-slate-600 hover:bg-primary-50 hover:text-primary-600">
                    Médiathèque
                  </a>
                </div>
        </div>

        <a
          routerLink="/contact"
          (click)="activeSection = ''"
          routerLinkActive="text-primary-600 bg-primary-50"
          class="px-3 py-2 text-sm font-medium transition-colors rounded-lg text-slate-600 hover:text-primary-600 hover:bg-primary-50 whitespace-nowrap">
          Contact
        </a>

       <!--  <a routerLink="/contact" class="px-3 py-2 text-sm font-medium transition-colors rounded-lg text-slate-600 hover:text-primary-600 hover:bg-primary-50 whitespace-nowrap">
          Contact
        </a>-->
      </nav>

      <!-- Actions -->
      <div class="flex items-center gap-2 ml-6">
        <button (click)="toggleSearch()" class="p-2 transition-colors rounded-lg text-slate-500 hover:text-slate-700 hover:bg-slate-100">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
          </svg>
        </button>
        <a routerLink="/admin" class="items-center hidden gap-2 px-4 py-2 text-sm font-medium text-white transition-colors rounded-lg sm:inline-flex bg-primary-500 hover:bg-primary-600" style="background-color: #00843B;">
          Administration
        </a>
        <button (click)="toggleMobileMenu()" class="p-2 transition-colors rounded-lg lg:hidden text-slate-500 hover:text-slate-700 hover:bg-slate-100">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path *ngIf="mobileMenuOpen()" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            <path *ngIf="!mobileMenuOpen()" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
